
body {
    font-family: 'Noto Serif', serif;
    background-image: url(../images/blue-snow.png);
    /* Background pattern from Toptal Subtle Patterns */
}
.jumbotron {
    background-color: #9db8d3;
    padding: 1rem 2rem;
}
.chatStuff{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 33rem;
}
.bg-info {
    background-color: #9db8d3!important;
}
.catStuff{
    /* cat Details Page */
    display: flex;
    justify-content: center;
}
CardText{
    margin: .30rem;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.form-check-label {
    margin-bottom: 0;
    padding: inherit;
}
.wholecatdetails {
    display: flex; 
    justify-content: center; 
} 
.card {
    background-color: white;
    border: 4px solid rgba(174, 186, 177);
}
.card-body {
    justify-content: center;
    min-height: 1px; 
    padding: 2.25rem; 
}
.card-footer {
    padding: 2.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
}
.card-img, .card-img-bottom,.card-img-top {
    margin-left: 10rem;
    width: 15rem;
    height: 10rem;
    flex-shrink: 0;
} 
.cat-pic {
    margin-top: 1rem;   
}
.badge {
    display: block;
    padding: .75em .4em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    overflow: initial;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.card-flex-item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; 
	width: 100%;
	padding-right: 0;
}
h5 {
    font-size: 2rem;
}
h6 {
    margin: 0px 0px 0px;
    font-size: 3rem;
    transform: rotate(-30deg);
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
span.banner{
    background-color: rgba(244,250,234);
}
